/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; white-space:normal;}

/* Stack the two content containers */
.main,
.sidebar { display:block; width:100%; }

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
	.main { float: left; width:60%; }
	.sidebar { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
	.main { width:70%; }
	.sidebar { width:30%; }

	/* You can also tweak any other styles in a breakpoint */
	H1 {font-size:1.2em }
}

.jmacCenter {
	display: block; margin: 0 auto;
	text-align: center;
}

.jmacError {
	background-color: pink;
	color: black;
}

.jmacListItem {
	border-top: 5px solid black;
	padding-top: 5px;
	margin-top: 10px;
}

.jmacListItem a {
	text-decoration: none;
	font-weight: normal;
	font-size: 1.2em;
}

.jmacListItem a p {
	word-wrap: break-word; 
	white-space:normal; 
	display: block;
}

.jmacListItem a img {
	width: 96px;
}


.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
	padding-left: 96px;
}


/* tree list */
#tree_list, #tree_list ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
#tree_list li {
  border-left: 2px solid #000;
  margin-left: 1em;
  padding-left: 1em;
  position: relative;
}
#tree_list li li {
  margin-left: 0;
}
#tree_list li::before {
  content:'┗';
  color: #000;
  position: absolute;
  top: -5px;
  left: -9px;
}
#tree_list ul > li:last-child {
  border-left: 2px solid transparent;
}